<aside class="w-64 bg-white rounded-xl shadow p-4">

  <h3 class="font-bold mb-4">
    Menu
  </h3>

  <ul class="space-y-2">
    <li><a href="/berita">Berita</a></li>
    <li><a href="/pengumuman">Pengumuman</a></li>
    <li><a href="/galeri">Galeri</a></li>
    <li><a href="/prestasi">Prestasi</a></li>
  </ul>

</aside>